@font-face {
   font-family: "0xProto Nerd Font Mono";
   src: url(font/ProtoNerdMono.ttf);
}
@font-face {
   font-family: Pixel Emulator;
   src: url(font/PixelEmulator-xq08.ttf);
}
body{
  font-family: "0xProto Nerd Font Mono";
}
body[theme=dark] #theme-text::before {
  content:' Light mode';
}
body #theme-text::before {
  content:' Dark mode';
}
#theme-icon {
  width: 16px;
  height: 16px;
}
body #theme-icon {
  background: url('images/moon.png');
  display: inline-block;
}
body[theme=dark] #theme-icon {
  background: url('images/sun.png');
  display: inline-block;
}
body {
  transition: background 0.5s;
  background-image: url('images/bliss.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
body[theme=dark] {
  background-image: url('images/nightbliss.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  vertical-align: top;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 148, 255, 0.4);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
body[theme=dark] ul {
  vertical-align: top;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 27, 181, 0.4);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
li {
  float: left;
  display: block;
  padding: 8px
}
body[theme=dark] li {
  color: white;
  float: left;
  display: block;
  padding: 8px
}
html, body, div {
    color: black;
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: "0xProto Nerd Font Mono";
    vertical-align:baseline;
}
html[theme=dark], body[theme=dark], div {
    color: white;
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    font-family: "0xProto Nerd Font Mono";
    vertical-align:baseline;
}
li a {
	color: black;
	text-decoration: none;
	border-radius: 5px;
	transition: color 0.5s, background-color 0.5s;
}
body[theme=dark] li a {
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: color 0.5s, background-color 0.5s;
}
li a:hover {
    color: white;
    background-color: #000000;
    border-radius: 5px;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}
body[theme=dark] li a:hover {
    color: black;
    background-color: #FFFFFF;
    border-radius: 5px;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.right {
	float: right;
}
.main-container {
	        width: calc(100% - 50px);
	        height: calc(100% - 50px);
	        margin: 25px;
	        border-radius: 10px;
	        color: black;
	        radius: 10px;
			background-color: rgba(0, 148, 255, 0.4);
            backdrop-filter: blur(10px);
            overflow: hidden;
			box-sizing: border-box;
			padding: 5px;
}
body[theme=dark] .main-container {
	    width: calc(100% - 50px);
	    height: calc(100% - 50px);
	    margin: 25px;
	    border-radius: 10px;
	    color: white;
	    radius: 10px;
	    background-color: rgba(0, 27, 181, 0.4);
        backdrop-filter: blur(10px);
        overflow: hidden;
		box-sizing: border-box;
}
.credit {
    text-align: center;
    }
.rainbow-joey a {
	text-decoration: none;
	font-family: Pixel Emulator;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background-clip: text;
        color: transparent;
	  animation: rainbow 5s infinite;
}
.rainbow-joey a:hover {
	text-decoration: underline;
}
.rainbow-ts {
    }
.rainbow-ts a {
	text-decoration: none;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background-clip: text;
        color: transparent;
	  animation: rainbow 5s infinite;
}
.rainbow-ts a:hover {
	text-decoration: underline;
}
@keyframes rainbow {
            0% { color: red; text-shadow: 0 0 10px white; }
            14.3% { color: orange; text-shadow: 0 0 10px white; }
            28.6% { color: yellow; text-shadow: 0 0 10px white; }
            42.9% { color: green; text-shadow: 0 0 10px white; }
            57.2% { color: blue; text-shadow: 0 0 10px white; }
            71.5% { color: indigo; text-shadow: 0 0 10px white; }
            85.8% { color: violet; text-shadow: 0 0 10px white; }
            100% { color: red; text-shadow: 0 0 10px white; }
        }
